* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'NanumSquare', sans-serif;
  image-rendering: -moz-crisp-edges;
  /* firefox */
  image-rendering: -o-crisp-edges;
  /* opera */
  image-rendering: -webkit-optimize-contrast;
  /* chrome(비표준) */
  image-rendering: crisp-edges;
  -webkit-text-size-adjust: none;
  /* 크롬, 사파리, 오페라(신) */
  -ms-text-size-adjust: none;
  /* IE */
  -moz-text-size-adjust: none;
  /* 파이어폭스 */
  -o-text-size-adjust: none;
  /* 오페라(구)*/
}

#navbar-pc.navbar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: background-color 0.8s ease;
  background: transparent;
}

#navbar-mobile .nav-item {
  border-bottom: 1px solid #e1e1e1e1;
}

.carousel-item>.w-100 {
  height: 100vh;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#slide .slide-text {
  position: absolute;
  z-index: 2;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.scroll-nav {
  background-color: #333 !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

#section-1 {
  background-color: rgba(0, 0, 0, 0.05);
}

#section-1 .box-padding {
  margin-top: 40px;
}

#section-1 .section-1-center img {
  width: 100px;
}

#section-1 .section-1-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#section-1 .box-2-padding {
  margin-top: 40px;
}

#section-3 .section-3-center {
  display: flex;
  flex-direction: column;
  align-self: start;
}

#section-3 .img-box {
  overflow: hidden;
}

#section-3 .img-box img {
  transition: all 0.2s linear;
}

#section-3 .img-box:hover img {
  transform: scale(1.2);
}



#section-3 hr {
  width: 100%;
}

#section-3 img {
  width: 100%;
}

#section-3 p {
  width: 100%;
}

/*  */
#section-4 {
  background-color: rgba(0, 0, 0, 0.05);
}

#section-4 .section-4-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#section-4 img {
  position: relative;
}

#section-4 .img-hover {
  position: absolute;
  opacity: 0;
}

#section-4 img:hover.img-hover {
  opacity: 1;
}

#section-4 span {
  margin-top: 40px;
}

#section-4 p {
  margin-top: 5px;
}

#section-4 h7 {
  margin-top: 30px;
  background-color: #e1e1e1;
  padding: 2px 15px;
  border: 1px solid #a9a9a9;
  cursor: pointer;
}