footer {
  margin-top: 80px;
  height: 200px;
  background-color: #616161;
  color: #fff;
  display: flex;
  align-items: center;
}

footer p {
  font-size: 12px;
}

footer span {
  font-weight: 800;
}