/* 네비게이션 PC */
#navbar-pc.navbar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: background-color 0.8s ease;
  background: transparent;
  padding: 0px;
}

#navbar-pc .nav-link {
  padding-top: 19px;
  padding-bottom: 19px;
  padding-left: 0;
  padding-right: 0;
}

#navbar-pc .nav-item {
  margin: 0 25px;
}

/* 드롭다운메뉴 PC */

#dropdown .col-lg-12 {
  position: absolute;
  color: white;
  top: 57px;
  left: 0;
  padding-top: 20px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  list-style: none;
  background-color: rgba(42, 42, 42, 0.9);
}

/* 네비게이션 모바일  */
#navbar-mobile .nav-item {
  border-bottom: 1px solid #e1e1e1e1;
}