#sidemenu {
  --transition-time: 500ms;
  position: fixed;
  width: 327px;
  height: 100%;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(20px);
  transform: translateX(-100%);
  transition: all 800ms cubic-bezier(0.8, 0, 0.33, 1);
  z-index: 4;
}

#sidemenu a {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 900;
  letter-spacing: 3px;
  text-decoration: none;
  user-select: none;
  color: #fff;
}

#sidemenu .nav-links {
  --link-height: 60px;
  position: relative;
  width: 100%;
}

#sidemenu .nav-links li {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: var(--link-height);
  list-style: none;
  opacity: 0;
  transform: translateX(-50%);
  transition: all var(--transition-time) cubic-bezier(0.8, 0, 0.33, 0.9);
  transition-delay: calc(30ms + var(--delay));
  cursor: pointer;
  z-index: 8;
}

#sidemenu .nav-links li:hover {
  color: rgba(255, 255, 255, 0.85);
}

#sidemenu .nav-links li a {
  pointer-events: none;
}

#sidemenu .nav-links li ol {
  display: none;
}

#sidemenu .nav-links .hover-el {
  position: absolute;
  width: 100%;
  height: var(--link-height);
  top: var(--y);
  left: var(--x);
  opacity: 0;
  background: radial-gradient(circle at var(--mousex) var(--mousey), rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.45) 100%);
  transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
  pointer-events: none;
  z-index: 5;
}

#sidemenu .sub-menu {
  --link-height: 50px;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
}

#sidemenu .sub-menu ol {
  list-style: none;
}

#sidemenu .sub-menu ol li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--link-height);
  transition: all var(--transition-time) ease;
  transition-delay: calc(30ms + var(--delay));
  cursor: pointer;
}

#sidemenu .sub-menu ol li:hover {
  background: rgba(0, 0, 0, 0.25);
}

#sidemenu .sub-menu ol li.off-menu {
  opacity: 0;
  transform: translateY(30%);
}

#sidemenu .sub-menu ol li.on-menu {
  opacity: 1;
  transform: translateY(0%);
}

#sidemenu .sub-menu ol li a {
  font-size: 1.2rem;
  font-weight: bold;
}

#sidemenu .sub-menu-btn {
  --icon-width: 40px;
  position: absolute;
  top: 6%;
  left: 10%;
  width: var(--icon-width);
  height: var(--icon-width);
  background: rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  opacity: 0;
  transform: translateX(-100%);
  transition: all var(--transition-time) cubic-bezier(0.8, 0, 0.33, 1.25);
  cursor: pointer;
  z-index: 8;
  pointer-events: none;
}

#sidemenu .sub-menu-btn .line {
  width: calc(var(--icon-width) - 28px);
  height: 2px;
  background: #fff;
  display: flex;
  flex-direction: column;
  margin: 12px 10px;
}

#sidemenu .sub-menu-btn .line__1 {
  transform-origin: left;
  transform: rotate(-35deg) translate(-1px, 8px);
}

#sidemenu .sub-menu-btn .line__2 {
  transform-origin: left;
  transform: rotate(35deg) translate(-1px, -8px);
}

#sidemenu .menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  --icon-width: 25px;
  position: absolute;
  top: 5%;
  right: -15%;
  width: calc(var(--icon-width) + 25px);
  height: calc(var(--icon-width) + 25px);
  flex-direction: column;
  transition: all calc(100ms + var(--transition-time)) cubic-bezier(0.8, 0, 0.33, 1.25);
  cursor: pointer;
  z-index: 10;
}

#sidemenu .menu-btn.close .line__1 {
  transform: rotate(45deg) translate(2px, -3px);
}

#sidemenu .menu-btn.close .line__2 {
  transform: rotate(-45deg);
}

#sidemenu .menu-btn.close .line__3 {
  transform: rotate(45deg) translate(-2px, 3px);
}

#sidemenu .menu-btn .line {
  width: var(--icon-width);
  background: black;
  height: 2px;
  margin: 3px 0;
  transition: all calc(var(--transition-time) + 100ms) cubic-bezier(0.9, 0, 0.33, 1);
}

#sidemenu .menu-btn .line__1 {
  width: var(--icon-width);
  transform-origin: left;
}

#sidemenu .menu-btn .line__2 {
  width: var(--icon-width);
  transform-origin: center;
}

#sidemenu .menu-btn .line__3 {
  width: var(--icon-width);
  transform-origin: right;
}

#sidemenu.nav-open {
  transform: translateX(0%);
}

#sidemenu.nav-open .menu-btn {
  right: 10%;
}

#sidemenu.nav-open .nav-links li {
  transform: translateX(0);
  opacity: 1;
}

#sidemenu.sub-menu-open .sub-menu-btn {
  opacity: 1;
  transform: translateX(0);
  pointer-events: all;
}

#sidemenu.sub-menu-open .nav-links li {
  pointer-events: none;
  opacity: 0;
  transform: translateY(-10%);
}

#sidemenu.sub-menu-open .nav-links .hover-el {
  opacity: 0;
}