* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  font-family: 'NanumSquare', sans-serif;
  image-rendering: -moz-crisp-edges;
  /* firefox */
  image-rendering: -o-crisp-edges;
  /* opera */
  image-rendering: -webkit-optimize-contrast;
  /* chrome(비표준) */
  image-rendering: crisp-edges;
  -webkit-text-size-adjust: none;
  /* 크롬, 사파리, 오페라(신) */
  -ms-text-size-adjust: none;
  /* IE */
  -moz-text-size-adjust: none;
  /* 파이어폭스 */
  -o-text-size-adjust: none;
  /* 오페라(구)*/
}

#header img {
  position: relative;
  margin-top: 60px;
  width: 100%;
  height: 250px;
  object-fit: cover;
}

#header span {
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
  margin-top: 30px;
  top: 50%;
  left: 50%;
}

#section-1 {
  padding-top: 100px;
}

#section-1 p {
  margin-top: 50px;
}