#section-3 .section-3-center {
  display: flex;
  flex-direction: column;
  align-self: start;
}

#section-3 .img-box {
  overflow: hidden;
}

#section-3 .img-box img {
  transition: all 0.2s linear;
}

#section-3 .img-box:hover img {
  transform: scale(1.2);
}

#section-3 hr {
  width: 100%;
}

#section-3 img {
  width: 100%;
}

#section-3 p {
  width: 100%;
}
@media (min-width: 320px) {
  #section-3 span {
    font-weight: bold;
    font-size: 15px;
  }

  #section-3 p {
    color: #b0b0b0;
    font-size: 13px;
  }
}
