/* 모바일 */
@media (min-width:320px) {
  #slide .slide-header-1 {
    font-size: 28px;
    width: 250px;
    line-height: 1.8;
    font-weight: bold;
  }

  #slide .slide-header-2 {
    font-size: 28px;
    width: 320px;
    line-height: 1.8;
    font-weight: bold;
  }

  #section-1 .section-1-header {
    font-size: 28px;
    font-weight: 800;
  }

  #section-1 .section-1-p {
    font-size: 16px;
    font-weight: 400;
  }

  #section-1 .box-header {
    font-size: 16px;
    font-weight: 800;
    margin-top: 15px;
  }

  #section-1 .box-p {
    font-size: 13px;
    font-weight: 600;
  }

  #section-2 .section-2-header {
    font-size: 28px;
    font-weight: 800;
  }

  #section-2 .section-2-p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
  }

  #section-3 span {
    font-weight: bold;
    font-size: 15px;
  }

  #section-3 p {
    color: #b0b0b0;
    font-size: 13px;
  }

  #section-4 span {
    font-weight: bold;
    font-size: 16px;
  }

  #section-4 p {
    font-size: 13px;
  }

  #section-4 h7 {
    font-size: 12px;
  }
}

/* 모바일 -> 테블릿 */
@media (min-width:720px) {


  #slide .slide-header-1 {
    font-size: 28px;
  }

  #slide .slide-header-2 {
    font-size: 28px;
  }
}

/* 테블릿 -> PC 전환 */

@media (min-width:992px) {



  #slide .slide-header-1 {
    font-size: 38px;
    width: 630px;
    line-height: 1.8;
    font-weight: bold;
  }

  #slide .slide-header-2 {
    font-size: 38px;
    width: 730px;
    line-height: 1.8;
    font-weight: bold;
  }
}