@media (min-width:320px) {
  #section1 h2 {
    margin-top: 20px;
    font-size: 20px;
  }

  #section1 span {
    color: #fa0202;
    font-size: 14px;
    font-weight: 700;
  }

  #section1 .p {
    color: black;
    font-size: 14px;
    font-weight: 500;
  }
}

@media (min-width:720px) {
  #section1 h2 {
    font-size: 25px;
  }
}

@media (min-width:992px) {
  #section1 h2 {
    margin-top: 0px;
    font-size: 28px;

  }

  #navbar-pc .link-1 hr {
    margin: -1px;
    padding: 0;
    width: 100px;
    border: 0;
    background-color: #fa0202;
    opacity: 1;
    height: 3px;
  }


}