@media (min-width:320px) {}

@media (min-width:720px) {}

@media (min-width:992px) {

  #navbar-pc .link-1 hr {
    margin: -1px;
    padding: 0;
    width: 100px;
    border: 0;
    background-color: #fa0202;
    opacity: 1;
    height: 3px;
  }


}