/* 모바일 */
@media (min-width:320px) {


  #section-1 h1 {
    font-size: 20px;
    font-weight: 500;
  }

  #section-1 h2 {
    font-size: 25px;
    font-weight: 800;
    color: red;
  }

  #section-1 span {
    font-weight: 500;
    font-size: 18px;
    color: #969696;
  }

  #section-3 span {
    color: #858585;
  }



}

/* 모바일 -> 테블릿 */


/* 테블릿 -> PC 전환 */

@media (min-width:992px) {
  #navbar-pc .link-1 hr {
    margin: -1px;
    padding: 0;
    width: 100px;
    border: 0;
    background-color: #fa0202;
    opacity: 1;
    height: 3px;
  }
}